/* Контейнер FAQ */
.faq-container {
  width: 100%; /* Ширина контейнера 100% */
  max-width: 360px; /* Максимальна ширина контейнера */
  min-width: 320px; /* Мінімальна ширина контейнера */
  margin-left: auto; /* Вирівнювання контейнера по лівому краю */
  margin-right: auto; /* Вирівнювання контейнера по правому краю */
}

/* Секція */
.section {
  padding-bottom: 80px; /* Відступ унизу секції */
}

/* Фон зображення FAQ */
.faq-image-bg {
  display: none; /* Приховання фонового зображення FAQ */
}

/* Контейнер заголовка */
.header-container-faq {
  display: flex; /* Відображення в контейнері блоків у ряд */
  flex-direction: column; /* Встановлення напряму рядка на стовпчик */
  justify-content: space-between; /* Вирівнювання по вертикалі */
  margin-bottom: 40px; /* Відступ унизу контейнера */
}

/* Контейнер списку питань та відповідей */
.faq-list-container {
  margin-top: auto; /* Вирівнювання по верхньому краю */
  margin-left: auto; /* Вирівнювання по лівому краю */
}

/* Заголовок FAQ */
.title-faq {
  font-family: 'Impact', sans-serif; /* Шрифт заголовка */
  font-weight: 400; /* Нормальна товщина шрифта */

  margin-bottom: 0; /* Відступ унизу заголовка */

  font-size: 52px; /* Розмір шрифту */
  line-height: 123%; /* Висота рядка */
  letter-spacing: 0.03em; /* Міжсимвольний інтервал */

  text-transform: uppercase; /* Перетворення тексту на великі літери */
  color: #292929; /* Колір тексту */
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); /* Тінь тексту */
}

/* Заголовок FAQ (частина, яка містить кольорову частину) */
.title-faq-span {
  color: #00b068; /* Колір тексту */
}

/* Елемент списку питань та відповідей */
.faq-item {
  position: relative; /* Позиціонування відносно власного контейнера */
  padding: 28px 24px; /* Відступи зверху і знизу 28px, зліва і справа 24px */

  max-width: 320px; /* Максимальна ширина елемента */
  border-bottom: 1px solid #ccc; /* Горизонтальна лінія-розділювач між елементами */
}

/* Останній елемент списку питань та відповідей */
.faq-item:last-child {
  margin-bottom: 0; /* Відступ унизу останнього елемента */
}

/* Заголовок елемента списку */
.title-item-list-header {
  font-weight: 400; /* Нормальна товщина шрифта */

  width: 224px; /* Ширина заголовка */
  font-size: 18px; /* Розмір шрифту */
  line-height: 156%; /* Висота рядка */

  letter-spacing: 0.03em; /* Міжсимвольний інтервал */
  text-transform: uppercase; /* Перетворення тексту на великі літери */
  margin-bottom: 0; /* Відступ унизу заголовка */
}

/* Текст елемента списку */
.text-item-list {
  font-family: 'Poppins', sans-serif; /* Шрифт

 тексту */
  font-weight: 300; /* Тонкий шрифт */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  font-size: 16px; /* Розмір шрифту */
  line-height: 150%; /* Висота рядка */
  letter-spacing: 0.03em; /* Міжсимвольний інтервал */
  color: #292929; /* Колір тексту */
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); /* Тінь тексту */
}

/* Контейнер для іконки і кнопки розгортання відповіді */
.questions {
  display: flex; /* Відображення в контейнері блоків у ряд */
  justify-content: space-between; /* Вирівнювання по горизонталі з рівномірним розподілом простору */
  align-items: flex-start; /* Вирівнювання по вертикалі з початком */
}

/* Контейнер для заголовка питання */
.item-header-container {
  width: 272px; /* Ширина контейнера */
}

/* Іконка розгортання відповіді */
.icon-answear {
  width: 20px; /* Ширина іконки */
  height: 20px; /* Висота іконки */
  rotate: 180deg; /* Поворот іконки на 180 градусів */
}

/* Кнопка розгортання відповіді */
.btn-answear {
  background: none; /* Фон кнопки прозорий */
  border: none; /* Без рамки */
  padding: 0; /* Внутрішні відступи */
  cursor: pointer; /* Курсор - покажчик */
  display: flex; /* Відображення блоків у ряд */
  justify-content: center; /* Вирівнювання по горизонталі по центру */
  align-items: center; /* Вирівнювання по вертикалі по центру */
  cursor: pointer; /* Курсор - покажчик */
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1); /* Плавне перехідналагоджуваний перехід властивості border */
  width: 32px; /* Ширина кнопки */
  height: 32px; /* Висота кнопки */
  margin-left: 16px; /* Зовнішні відступи зліва */
}

/* Іконка розгортання відповіді (частина, яка змінюється) */
.icon-answear {
  display: block; /* Відображення іконки як блоку */
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1); /* Плавний перехід властивостей stroke та transform */
  background-repeat: no-repeat; /* Відображення фону один раз */
  height: 24px; /* Висота іконки */
  width: 24px; /* Ширина іконки */
}

/* Активний елемент списку питань та відповідей */
.is-active.faq-item {
  background: rgba(0, 176, 104, 0.2); /* Фон активного елемента */
  border: transparent; /* Без рамки */
  border-radius: 16px; /* Радіус закруглення кутів */
}

/* Активний стан */
.is-active {
  border-top: 5px solid #fff; /* Верхня рамка */
}

/* Панель відповіді в активному стані */
.is-active .ac-panel {
  margin-top: 24px; /* Відступ від верху */
}

/* Іконка "відкрита" */
.ac.icon-open {
  transform: rotate(180deg); /* Поворот іконки на 180 градусів */
}

/* Іконка відповіді в активному стані */
.is-active .icon-answear {
  transform: rotate(180deg); /* Поворот іконки на 180 градусів */
}

/* Панель відпов

іді */
.ac-panel {
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  ); /* Функція переходу */
}

/* Активна панель з питанням та відповіддю */
.ac .ac-panel {
  overflow: hidden; /* Перехід внутрішніх відступів */
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Плавний перехід висоти та видимості панелі */
}

/* Візуальне виділення активного елемента списку */
.faq-item.is-active::before {
  content: ''; /* Зміст відсутній */
  position: absolute; /* Абсолютне позиціонування */
  top: -5px; /* Відступ від верхнього краю */
  left: 0; /* Вирівнювання по лівому краю */
  width: 100%; /* Ширина елемента */
  height: 7px; /* Висота елемента */
  background-color: #f0f0f0; /* Колір фону */
  z-index: 1; /* Індекс накладення */
}

/* При наведенні курсора на кнопку розгортання */
.btn-answear:hover {
  background-color: transparent; /* Прозорий фон */
}

/* Медіа-запит для екранів ширше 768px */
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 124px; /* Збільшення відступу унизу секції */
  }

  .faq-container {
    max-width: 704px; /* Збільшення максимальної ширини контейнера */
    margin: 0 auto; /* Центрування контейнера по горизонталі */
    padding: 0; /* Відсутність внутрішніх відступів */
  }

  .faq-item {
    max-width: 704px; /* Збільшення максимальної ширини елемента */
  }

  .title-faq {
    font-size: 108px; /* Збільшення розміру шрифту */
    line-height: 115%; /* Збільшення висоти рядка */
    letter-spacing: 0.02em; /* Збільшення міжсимвольного інтервалу */
  }

  .item-header-container {
    width: 656px; /* Збільшення ширини контейнера заголовка */
  }

  .title-item-list-header {
    width: 600px; /* Збільшення ширини заголовка */
    font-size: 20px; /* Збільшення розміру шрифту */
    line-height: 160%; /* Збільшення висоти рядка */
  }

  .header-container-faq {
    margin-bottom: 60px; /* Збільшення відступу унизу контейнера */
  }
}

/* Медіа-запит для екранів ширше 1280px */
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 164px; /* Збільшення відступу унизу секції */
  }
  .faq-container {
    display: flex; /* Відображення контейнера як рядка блоків */
    padding-left: 32px; /* Лівий внутрішній відступ */
    padding-right: 32px; /* Правий внутрішній відступ */
    max-width: 1280px; /* Максимальна ширина контейнера */
  }
  .faq-item {
    max-width: 592px; /* Збільшення максимальної ширини елемента */
  }
  .faq-image-bg {
    margin-top: 240px; /* Збільшення відступу зверху */
    display: block; /* Відображення блоку */
    width: 526px; /* Ширина */
    height: 408px; /* Висота */

    background-image: linear-gradient(
        to right,
        rgba(240, 240, 240, 0.4),
        rgba(240, 240, 240, 0.4)
      ),
      url('../img/faq-bg.png'); /* Фонове зображення */
    background-size: cover; /* Розмір фонового зображення */
    background-repeat: no-repeat; /* Повторення фонового зображення */
  }
  .header-container-faq {
    margin-bottom: 0; /* Відсутність відступу унизу контейнера */
    margin-right: 98px; /* Правий зовнішній відступ */
  }
  .item-header-container {
    width: 544px; /* Ширина контейнера заголовка */
  }
  .title-item-list-header {
    width: 488px; /* Ширина заголовка */
  }
}

/* Медіа-запит для екранів з високим розширенням пікселів */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(240, 240, 240, 0.4),
        rgba(240, 240, 240, 0.4)
      ),
      url('../img/faq-bg2.png'); /* Фонове зображення */
  }
}
